*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  container-type: inline-size;
  /* Disable additional non-standard gestures such as double-tap to zoom */
  touch-action: manipulation;
}

body {
  min-height: 100dvh;
  display: grid;
  grid-template-columns: min(100%, 1280px);
  grid-template-rows: auto 1fr;
  justify-content: center;
  margin: 0;
  padding: 0.5rem;
  font-size: 1rem;
  font-family: sans-serif;
  /* font-variant-emoji: text; */

  > header {
    display: flex;
    justify-content: space-between;
    /* border-block-end: 1px solid #a0a0a0a0; */
    margin-block-end: 0.75rem;

    > nav {
      /* padding-inline: 1rem; */
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1.5rem;
    }
  }

  > main {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    min-height: 0;
  }
}

select,
button,
input,
textarea {
  font-size: inherit;
}

select {
  width: max-content;
  max-width: 100%;
  padding-block: 0.2rem;
}

.language-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;

  > div:nth-child(1),
  > div:nth-child(3) {
    flex: 1;
    display: flex;
  }

  > div:nth-child(1) {
    justify-content: flex-end;
  }

  > div:nth-child(2) {
    flex: 0 0 auto;
  }

  > div:nth-child(3) {
    justify-content: flex-start;
  }
}

.copy-button {
  display: inline-grid;
  grid-template-areas: 'stack';
  place-items: center;

  > span {
    transition: visibility 0s 1.5s;
  }

  > span:nth-child(1) {
    grid-area: stack;
    visibility: visible;
  }

  > span:nth-child(2) {
    grid-area: stack;
    visibility: hidden;
  }

  &:active > span {
    transition-delay: 0s;
  }

  &:active > span:nth-child(1) {
    visibility: hidden;
  }

  &:active > span:nth-child(2) {
    visibility: visible;
  }
}

.translation-panels {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;

  > .panel {
    flex: 1 1 300px;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    > .panel__toolbar {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }

    > textarea {
      flex-grow: 1;
      resize: none;
    }
  }
}
